{% extends "products/base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css'%}" type="text/css">


<table class='cart-table'>
    <thead>
        <tr>
            <th>Изображение</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Удалить</th>
            <th>Цена за ед.</th>
            <th>Стоимость</th>
        </tr>
    </thead>
    <tbody class='tbody'>

        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    {% if product.image %}
                        {% thumbnail product.image "100" as im %}
                            <a href="{{ product.get_absolute_url }}"><img src="{{im.url}}"></a>
                        {% endthumbnail %}
                    {% else %}
                        <a href="{{ product.get_absolute_url }}"><img src="/static/img/no-image.png"></a>
                    {% endif %}
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                    <form action="{% url 'cart:cart-add' product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.override }}
                        <input id="count" type="submit" value="Обновить кол-во">
                        {% csrf_token %}
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'cart:cart-remove' product.id %}" method="post">
                            <input type="submit" value="Удалить">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td class="num">{{ item.price }} руб.</td>
                    <td class="num">{{ item.total_price }} руб.</td>
            </tr>
            {% endwith %}
        {% endfor %}

        <tr>
            <td>Сумма заказа:</td>
            <td colspan="4"></td>
            <td class="num"><span id="total_price">{{ cart.get_total_price }}</span> руб.</td>
        </tr>
    </tbody>
</table>

<p class="text-right">
    <a href="{% url 'products:index' %}" class="button light">Продолжить покупки</a>
</p>
{% if cart|length > 0 %}
<p class="text-right">
    <a id="create-order" href={% url "orders:order-create" %} class="button">Оформить заказ</a>
</p>
{% endif %}


<script>
    function checkCart(event){
        var total_price = document.querySelector("#total_price")
        if (total_price.textContent == '0'){
            event.preventDefault()
            window.alert('Cart is empty!!!')
        }
    }   
    
    function sendCount(count){
        var url = "/cart/send_count/";
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('x-requested-with', 'XMLHttpRequest');             
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
            }
        };
        var form = count.parentNode
        var id_product = form.querySelector("#pk").value
        var data = JSON.stringify({
            'count': count.value,
            'id': id_product
        });
        xhr.send(data);
    }
    document.querySelector("#create-order").addEventListener("click", checkCart)
</script>

{% endblock %}