{% extends "products/base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/orders.css'%}" type="text/css">
<div style="display: flex">
<div style="display: inline-block; margin-left: 200px">

    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Оформить заказ</button>
</form>
</div>

<table class='order-create'>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена за ед.</th>
            <th>Стоимость</th>
        </tr>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                {{item.quantity}}
                </td>
                <td class="num">{{ item.price }} руб.</td>
                <td class="num">{{ item.total_price }} руб.</td>
            </tr>
            {% endwith %}
        {% endfor %}

        <tr class="Стоимость">
            <td>Сумма заказа:</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} руб.</td>
        </tr>
    
</table>

</div>

{% endblock content %}