{% extends 'products/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/products.css'%}" type="text/css">

<div class="products">
    {% for prod in products %}
      <div class="product">
        
        {% load thumbnail %}
            {% thumbnail prod.image "300" as im %}
            <a href="{{ prod.image.url }}">
                <img src="{{ im.url }}" class="image-detail">
            </a>
        {% endthumbnail %}
        

        <h2>{{ prod.name }}</h2>
        <p>{{ prod.description }}</p>
        <p>{{ prod.price }} руб.</p>
      </div>
    {% endfor %}
    </div>
    {% endblock %}